<div
  class="{{ tabClass }}"
  data-group="sheet"
  data-tab="bdtiles"
  data-application-part="bdtiles"
>
  <p class="notes">Tile Border</p>
  <div class="form-group">
    <label>Tile Border Size</label>
    <div class="form-fields">
      <input type="number" name="flags.{{ moduleId }}.size" {{size}} />
    </div>
  </div>
</div>
